*.env
**/data/raw/*
**/data/cuisine_normalized/
**/data/ingr_encoded/
**/data/cuisine_encoded/
**/data/ingr_normalized/
*.log
*.log.*
__pycache__/
**/models/
*.sqlite3
.DS_Store
lib/
**/public/*
**/logs/
**/reports/

**/venv/